@import url(fontawesome.css);
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");

$colorfondo: rgba(23, 34, 56, 1);
$colorlogo1: rgba(255, 255, 255, 1);
$colorlogo2: rgba(245, 164, 37, 1);

body {
	background-color: $colorfondo;
	font-family: "Montserrat", sans-serif;
}

texto-logo1 {
	font-style: normal;
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 800;
	color: $colorlogo1;
}

texto-logo2 {
	font-style: normal;
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 800;
	color: $colorlogo2;
}

