/* IMPORTS */
@import url(fontawesome.css);
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");

/* PALETA DE COLORES */
$colorfondo: rgba(23, 34, 56, 1);
$colorlogo1: rgba(255, 255, 255, 1);
$colorlogo2: rgba(245, 164, 37, 1);
$colormenu: rgb(255, 255, 255, 1);

#titulo{
    width: 20;
    height: 35%;
    background-color: $colorfondos;
}